@charset "utf-8";
body {
	margin: 0;
	padding: 0;
}
#container {
	width: 1290px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	background-image:url(../pics/finalb.jpg);
}
#header {
	margin: 0px;
	height: 645px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#mid {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
}

#par {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 35px;
	text-align: center;
	color: #FFFFFF;
	/* [disabled]padding-top: 19px; */
	padding-right: 133px;
	/* [disabled]padding-bottom: 19px; */
	padding-left: 133px;
}

#p1 {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#p2 {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#p3 {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#p4 {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#p5 {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#p6 {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
}
#youtube {
	margin: 0px;
	width: 1290px;
	border-width: 0px;
	border-style: solid;
	text-align: center;
}

#ads {
	margin: 0px;
	width: 1290px;
	height: 150px;
	border-width: 0px;
	border-style: solid;
	text-align: center;
}
